@import '../../stylesheets/colors';

.App > .container {
  margin-bottom: 40px;
  margin-top: 20px;
}


html {
  font-family: 'Roboto', sans-serif;
  overflow-x: hidden;
}

body {
  margin: 0px;
  background: #eee;
}

input:-webkit-autofill {
  -webkit-box-shadow:0 0 0 50px white inset;
  -webkit-text-fill-color: #333;
}

input:-webkit-autofill:focus {
  -webkit-box-shadow: 0 0 0 50px white inset;
  -webkit-text-fill-color: #333;
}

.griddle {
    padding: 10px;
}

.App .verify-email {
  margin-bottom: 0;
  padding: 0;
  border-top: none;
  border-bottom: 1px solid #e7e7e7;
  background: #fff;
  color: $gray-dark;
  border-radius: 0;

  p {
    padding: 19px;
  }

  .btn {
    padding: 0;
  }
}
